@page
@model SqlModel
@{
    ViewData["Title"] = "Sql Data";
}
<h1>@ViewData["Title"]</h1>

<p>Lets Get Some data from a Sql Database!</p>


<form method="post">
    <p>Sql Connection String: @Model.SqlConnectionString</p>
 
     <p>DNS Lookup: @Model.DNSLookup</p>
     <p>DNS Lookup: @Model.DNSLookupError</p>

    <p>Sql Retrived Data: <b>@Model.SqlDataText</b></p>
</form>




